#root {
  display: flex;
  height: 100%;
  min-width: 375px;
}

#main {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#div1 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  padding: 30px 0px;
}

#div2 {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

#div3 {
  transform: translateY(-2px);
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  min-width: 375px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  grid-row: 1 / auto;
  grid-column: 1 / auto;
}

#side-text {
  width: 340px;
  margin-left: 40px;
  flex-shrink: 1;
}

#title {
  font-size: 2em;
  font-weight: bold;
}

#img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  #root, #div1, #div2, #div3 {
    width: 100%;
  }

  #div2 {
    display: flex;
  }

  #side-text {
    display: none;
  }
}