ion-slides {
  height: 100%;
}

.swiper-slide {
    display: block;
}

.swiper-slide img {
  /* max-height: 70%;
  max-width: 80%; */
  /* margin: 60px 0 40px; */
  pointer-events: none;
}

#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}